.checkbox-control {
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
  cursor: pointer;

  &--active &__checkbox {
    border-color: transparent;
  }

  &--active &__icon-active {
    display: block;
  }

  &__checkbox {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    border: 2px solid #BBBBBB;
    border-radius: 2px;
    position: relative;
  }

  &__label {
    font-size: 16px;
    line-height: 1;
  }

  &__icon-active {
    display: none;
    position: absolute;
    left: -2px;
    top: -2px;
    width: 18px;
    height: 18px;
  }
}
